<select [(ngModel)]="value">
  <option *ngFor="let key of keys" [value]="key">{{ components[key] }}</option>
</select>
<ng-container [ngSwitch]="value">
  <ng-container *ngSwitchCase="1">
    <app-ng-if></app-ng-if>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <app-ng-for></app-ng-for>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <app-ng-switch></app-ng-switch>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <app-ng-template-outlet></app-ng-template-outlet>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <app-ng-component-outlet></app-ng-component-outlet>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <app-custom-directive></app-custom-directive>
  </ng-container>
</ng-container>